# List

In [ ]:
# List functions :- 
# 1.append -aading at the end,
# 2.index :-print position,
# 3.pop:-remove last item,
# 4.remove :-reverse a item/object from list 
# 5.reverse :-reverse the list;

In [1]:
lst=["Prince Kumar","72549XXXXX","prince2kumar4147","@","gmail.com"]
lst

['Prince Kumar', '72549XXXXX', 'prince2kumar4147', '@', 'gmail.com']

In [4]:
lst.append(18)     #to enter value at the end of the list

In [5]:
lst

['Prince Kumar', '72549XXXXX', 'prince2kumar4147', '@', 'gmail.com', 18]

In [6]:
lst.index('72549XXXXX')   #to view the index of a particular element

1

In [7]:
lst.pop()   #it will remove last iteam from list

18

In [8]:
lst.remove('72549XXXXX')  #to remove element from list

In [9]:
lst

['Prince Kumar', 'prince2kumar4147', '@', 'gmail.com']

In [10]:
lst.reverse()   #to reverse the given list

In [11]:
lst

['gmail.com', '@', 'prince2kumar4147', 'Prince Kumar']

In [14]:
type(lst)

list

# Dictionary

In [ ]:
# dict functions:-
# get,
# items,
# keys,
# values,
# update
# pop

In [15]:
dic={"name":"Pirnce","Age":"18","Phone":"72549XXXX"}
dic

{'name': 'Pirnce', 'Age': '18', 'Phone': '72549XXXX'}

In [16]:
type(dic)

dict

In [17]:
dic.get("name")   #display the provided atribute

'Pirnce'

In [18]:
dic.items()

dict_items([('name', 'Pirnce'), ('Age', '18'), ('Phone', '72549XXXX')])

In [19]:
dic.keys()   #will display the element of dictionary

dict_keys(['name', 'Age', 'Phone'])

In [21]:
dic.values()    #provide the attribute of the list

dict_values(['Pirnce', '18', '72549XXXX'])

In [22]:
dic.update({"id":"007"})   #update the last value

In [24]:
dic

{'name': 'Pirnce', 'Age': '18', 'Phone': '72549XXXX', 'id': '007'}

In [26]:
dic.pop('id')  #it will remove last itam from list

'007'

In [31]:
print(dic)

{'name': 'Pirnce'}

In [32]:
dic.popitem()  #will display any randome atom

('name', 'Pirnce')

# Set
### Note: the set list is unordered, meaning: the items will appear in a random order, Upon refressig we will see different order

In [33]:
st={"Prince Kr","prishan",3,21,22,40}
st

{21, 22, 3, 40, 'Prince Kr', 'prishan'}

In [34]:
st.add(4) #To add one item to a set use
st

{21, 22, 3, 4, 40, 'Prince Kr', 'prishan'}

In [36]:
st.update("shalini")  #To add more than one item to a set var.update([])

In [37]:
st

{21, 22, 3, 4, 40, 'Prince Kr', 'a', 'h', 'i', 'l', 'n', 'prishan', 's'}

In [39]:
st.update("2020")

In [40]:
st

{'0',
 '2',
 21,
 22,
 3,
 4,
 40,
 'Prince Kr',
 'a',
 'h',
 'i',
 'l',
 'n',
 'prishan',
 's'}

In [43]:
st.update(["hellow","height","dear"])

In [44]:
st

{'0',
 '2',
 21,
 22,
 3,
 4,
 40,
 'Prince Kr',
 'a',
 'd',
 'dear',
 'e',
 'g',
 'h',
 'height',
 'hellow',
 'i',
 'l',
 'n',
 'o',
 'prishan',
 'r',
 's',
 't',
 'w'}

In [46]:
print(len(st))  #To determine how many items a set has

25

In [47]:
st.remove("hellow")   #to delete an iteam in set 
# use of discared will not give anykind of error if iteam doesnot exist 
# use of remove will  give error if iteam doesnot exist

In [48]:
st

{'0',
 '2',
 21,
 22,
 3,
 4,
 40,
 'Prince Kr',
 'a',
 'd',
 'dear',
 'e',
 'g',
 'h',
 'height',
 'i',
 'l',
 'n',
 'o',
 'prishan',
 'r',
 's',
 't',
 'w'}

In [50]:
x=st.pop()   #remove an item, but this metjord will not remove the last iteam 
print(x)

t

In [52]:
st.clear()  #The clear() method empties the set:

In [53]:
st

set()

In [55]:
del st      #The del keyword will delete the set completely:

In [56]:
st

NameError: name 'st' is not defined

# Tuple 
### A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [58]:
tup=("apple","mango","banana","kela")
print(tup)

('apple', 'mango', 'banana', 'kela')

In [59]:
print(tup[3])

kela

In [61]:
print(tup[-3])    #Negative indexing means beginning from the end, -1 refers to the last item,and soon...

mango

In [62]:
print(tup[1:3])   #range of indexes by specifying where to start and where to end the range.
print(tup)

('mango', 'banana')
('apple', 'mango', 'banana', 'kela')

In [64]:
print(tup[-4:-1])    #Specify negative indexes if you want to start the search from the end of the tuple:

('apple', 'mango', 'banana')

In [65]:
y=list(tup)
y[1]="added elemet"
tup= tuple(y)

# Convert the tuple into a list to be able to change it:

In [66]:
print(tup)

('apple', 'added elemet', 'banana', 'kela')

# String

In [68]:
str="Hello there!"
print(str)

Hello there!

In [69]:
str.capitalize()

'Hello there!'

In [73]:
str.count("t")

1

In [75]:
str.find("h")

7

In [76]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)      #assign a multiline string to a variable by using three quotes

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [80]:
print(str[0])    #string are arrary
print("\n"+str[2:7])   #slicing return specific string within range

H

llo t

In [83]:
print(str)
print("\n"+str[-4:-1])  #-ve slicing start from end

Hello there!

ere

In [84]:
print(str.lower())

hello there!

In [85]:
print(str.replace("H","j"))

jello there!

In [86]:
print(str.split(","))

['Hello there!']

In [88]:
#we cannot combine strings and numbers 
# we can do this using .format()
#example:
age = 16
txt = "My name is pk, and I am {}"
print(txt.format(age))

My name is pk, and I am 16

In [89]:
#format using index

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.